

* {
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: #333;
}
.f_left {
  float: left;
}
.f_right {
  float: right;
}
ul,
ol {
  list-style: none;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}
.container {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 30px;
  box-sizing: border-box;
}
.warp {
  width: 1200px;
  border: 4px solid #000;
  margin: 50px auto;
  overflow: hidden;
}
header {
  width: 100%;
  height: 112px;
}
header .logo {
  margin: 16px 0 0px;
  width: 300px;
  height: 80px;
  border: 1px solid #000;
}
nav {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #000;
}




/*MyAccountSettingsPage*/
.sss {
  padding: 10px 0;
}
.sss .logo {
  width: 30%;
}
.sss .center {
  width: 50%;
  margin-right: 50px;
}
.sss .center > .btns {
  padding-right: 10px;
}
.sss .center > .btns > a {
  padding: 0 10px;
  color: #49b8ff;
}
.sss .center > .search {
  width: 100%;
  position: relative;
}
.sss .center > .search > input {
  display: block;
  width: 450px;
  height: 55px;
  float: left;
}
.sss .center > .search > button {
  display: block;
  width: 114px;
  height: 59px;
  position: absolute;
  top: 0px;
  right: 8px;
}
.sss .btn {
  margin-top: 15px;
  width: 10%;
}
.RestaurantReview {
  padding: 0 15px;
  width: 760px;
  height: 330px;
  border: 2px solid #000;
  margin: 30px auto 0;
}
.RestaurantReview > .left {
  padding: 20px 0;
}
.RestaurantReview > .left .name {
  width: 452px;
  border-bottom: 1px solid #000;
}
.RestaurantReview > .left .name > input {
  padding-left: 10px;
  border: none;
}
.RestaurantReview > .left > .RestaurantInformation > .left {
  margin-top: 20px;
  width: 200px;
  height: 225px;
  border: 1px solid #000;
}
.RestaurantReview > .left > .RestaurantInformation > .right > .none {
  padding-top: 16px;
  margin-left: 35px;
  width: 150px;
  border-bottom: 1px solid #000;
}
.RestaurantReview > .left > .RestaurantInformation > .right > .none > input {
  border: none;
}
.RestaurantReview > .left > .RestaurantInformation > .right > .Address,
.RestaurantReview > .left > .RestaurantInformation > .right > .tel {
  padding-top: 15px;
  margin-left: 35px;
  width: 150px;
  border-bottom: 1px solid #000;
}
.RestaurantReview > .left > .RestaurantInformation > .right > .Address > input,
.RestaurantReview > .left > .RestaurantInformation > .right > .tel > input {
  border: none;
  color: #333;
}
.RestaurantReview > .right {
  margin-top: 30px;
}
.RestaurantReview > .right > .map-img {
  width: 225px;
  height: 265px;
  border: 1px solid #000000;
  margin-right: 20px;
}
.review {
  width: 760px;
  line-height: 80px;
  margin: 20px auto 0;
}
.review > button {
  width: 210px;
  height: 50px;
  border: none;
  border-radius: 50px;
  margin-bottom: 20px;
}
.review > .Five-pointedStar {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.review > .Five-pointedStar > img {
  display: block;
  width: 100%;
  height: 100%;
}
.CommentsOnRestaurants {
  width: 790px;
  border: 2px solid #000;
  margin: 0px auto 20px;
}
.CommentsOnRestaurants .box {
  width: 100%;
  border-bottom: 1px solid #000;
}
.CommentsOnRestaurants .box > .left > .shop-img {
  margin: 15px;
  width: 102px;
  height: 102px;
  border-radius: 50%;
  border: 1px solid #000;
}
.CommentsOnRestaurants .box > .right {
  padding-top: 15px;
  width: 450px;
  margin-left: 10px;
  padding-bottom: 50px;
}
.CommentsOnRestaurants .box > .right > .name,
.CommentsOnRestaurants .box > .right .none {
  width: 100%;
  border-bottom: 1px solid #000;
  padding-bottom: 30px;
}
.SwitchPage {
  padding: 0px 205px 0 0px;
  width: 100%;
  margin-bottom: 50px;
}
.SwitchPage > .left {
  margin-right: 0px;
}
.SwitchPage > .left > img {
  display: block;
  width: 30px;
  height: 30px;
}
.SwitchPage > .right {
  width: 30px;
  height: 30px;
}
.SwitchPage > .right > img {
  display: block;
  width: 30px;
  height: 30px;
}

