/*
分类页面
*/
input {
  outline: none;
}
* {
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: #333;
  font-family: "微软雅黑";
}

.f_right {
  float: right;
}
ul,
ol {
  list-style: none;
}


.warp {
  width: 1200px;
  border: 4px solid #000;
  margin: 50px auto;
  overflow: hidden;
}
header {
  width: 100%;
  height: 112px;
}
header .logo {
  margin: 16px 0 0px;
  width: 300px;
  height: 80px;
  border: 1px solid #000;
}

.FoodCategories-main {
  width: 690px;
  height: 370px;
  border: 2px solid #000;
  margin: 50px auto 10px;
  padding: 0 50px;
}
.FoodCategories-main .Categories {
  padding-top: 20px;
}
.FoodCategories-main .FoodClassification {
  width: 100%;
  padding-top: 20px;
}
.FoodCategories-main .FoodClassification > ul > li {
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
  float: left;
  margin: 0 20px;
}
.FoodCategories-main .FoodClassification > ul > li > a {
  text-decoration: none;
}
.FoodCategories-main .FoodClassification > ul > li:nth-of-type(1) {
  margin-left: 0;
}
.FoodCategories-main .FoodClassification > ul > li:hover {
  background-color: #999999;
}
.FoodCategories-main .FoodClassification > ul > li.currten {
  background-color: #999999;
}
.FoodCategories-main .border {
  margin-top: 85px;
  width: 100%;
  height: 2px;
  background-color: #999999;
}
.FoodCategories-main .location {
  margin-top: 20px;
  width: 205px;
  border-bottom: 1px solid #000;
}
.FoodCategories-main .location > a {
  display: block;
  width: 100%;
  text-decoration: none;
}
.FoodCategories-main .ShopName {
  margin-top: 20px;
}
.FoodCategories-main .ShopName > ul > li {
  float: left;
  padding: 10px 10px;
  margin-left: 15px;
  border-radius: 10px;
}
.FoodCategories-main .ShopName > ul > li > a {
  text-decoration: none;
}
.FoodCategories-main .ShopName > ul > li.currten {
  background-color: #999999;
}
.FoodCategories-main .ShopName > ul > li:hover {
  background-color: #999999;
}
.FoodCategories-main .ShopName > ul > li:nth-of-type(1) {
  margin-left: 0;
}
.select {
  margin-bottom: 10px;
}
.select > select {
  width: 130px;
  height: 40px;
  margin-right: 205px;
  border-radius: 30px;
  background-color: #999999;
}
.CommentsOnRestaurantsSgin > .box > .left > .shop-img {
  width: 165px;
  height: 130px;
  border-radius: 0;
}
.CommentsOnRestaurantsSgin > .box > .right > .name > strong {
  padding: 0 20px;
}
.CommentsOnRestaurantsSgin > .box > .right > .name > .star {
  display: inline-block;
  background-color: #d7ff72;
}
.CommentsOnRestaurantsSgin > .box > .right > .name > .star > img {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: bottom;
}

/*reviemPage复述页*/
.comment {
  padding: 70px 200px 200px;
}
.comment > form > h2 {
  padding-bottom: 50px;
  font-size: 36px;
}
.comment > form > .star,
.comment > form > .money,
.comment > form > .none {
  position: relative;
  margin-left: 60px;
}
.comment > form > .star > .left,
.comment > form > .money > .left,
.comment > form > .none > .left {
  width: 185px;
  height: 2px;
  background-color: #000;
}
.comment > form > .star > .right,
.comment > form > .money > .right,
.comment > form > .none > .right {
  position: absolute;
  top: -33px;
  left: 252px;
}
.comment > form > .star > .right > ul > li,
.comment > form > .money > .right > ul > li,
.comment > form > .none > .right > ul > li {
  float: left;
  text-align: center;
  margin-left: 10px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.comment > form > .money .left {
  margin-top: 100px;
}
.comment > form > .money > .right {
  top: -31px;
}
.comment > form > .money > .right > ul > li {
  float: left;
}
.comment > form > .money > .right > ul > li > img {
  display: block;
  width: 50px;
  float: left;
  height: 50px;
}
.comment > form > .none .left {
  margin-top: 80px;
}
.comment > form > .text {
  margin-left: 60px;
  padding-top: 50px;
}
.comment > form > .text > textarea {
  color: #ddd;
  padding-left: 20px;
}
.comment > form > button {
  margin-top: 40px;
  margin-right: 80px;
  padding: 5px 10px;
  background-color: #999;
  border: none;
  border-radius: 10px;
}
