:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
	margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.checked {
  	color: orange;
}

#header {
	height: 80px;
}

.col-md-5 {
	height: 100%;
}

.col-md-4 {
	height: 100%;
}

.col-md-1 {
	height: 100%;
	bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
}

.col-md-8 {
	height: 100%;
}

.navContainer {
	border-left-style: solid;
	border-width: 1px;
	border-color: lightgrey;
}

.logoContainer {
	margin-left: 55px;
	height: 50px;
}

.logo {
	position: absolute;
	font-family:Impact;
	top: 10%;
	font-size: 24px;
	letter-spacing: 1px;
	padding-left: 10px;
	font-weight: bolder;
}

.portraitContainer {
	height: 50px;
	width: 50px;
	float: right;
}

.userName {
	font-size: 18px;
	position: relative;
	top: 20%;
	left: 0%;
}

.signOut {
	position: relative;
	top: 30px;
}

#restaurantBody {
	height: 300px;
	background-color: #e6eaef;
	margin-top: 20px;
	margin-bottom: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	border-radius: 25px;
}

.storeName {
	font-size: 24px;
	margin-left: 70px;
	margin-top: 10px;
	font-family:;
	letter-spacing:1px;
}

#restaurantInfo {
	height: 200px;
}

.col-md-3 {
	height: 100%;
}

.col-md-7 {
	height: 100%;
}

.RestaurantImgContainer {
	margin-left: 30px;
	height: 150px;	
}

#reviewBody {
	height: 100vh;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	border-radius: 25px;
}

.reviewContainer {
	border-right-style: solid;
	border-width: 1px;
	border-color: lightgrey;
}

#reviewPart {
	height: 95%;
}

.contentBox {
	min-height: 100px;
	max-height: 150px;
	background-color: white;
	padding: 15px;
	margin-bottom: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	border-radius: 25px;
}

.userImg {
	margin-left: 10px;
	margin-right: 40px;
	margin-top: 10px;
	height: 100px;
	float: left;
}


.userImgContainer {
	width: 30%;
	height: 100%;
}

.reviewHeader {
	font-size: 18px;
}