:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
	margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#header {
	height: 80px;
}

.col-md-9 {
	height: 100%;
}

.col-md-1 {
	height: 100%;
	bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
}

.navContainer {
	border-left-style: solid;
	border-width: 1px;
	border-color: lightgrey;
}

.logoContainer {
	/* margin-left: 55px; */
	height: 50px;
	width: auto;
}

.logo {
	position: absolute;
	font-family:Impact;
	top: 10%;
	font-size: 24px;
	letter-spacing: 1px;
	padding-left: 10px;
	font-weight: bolder;
}

.portraitContainer {
	height: 50px;
	width: 50px;
	float: right;
}

a.userName {
	font-size: 18px;
	position: relative;
	padding-top: 10%;
	left: 0%;
	color: rgba(255,255,255,.5);
}

a.userName:hover {
	color: white;
}

/*.signOut {
	position: relative;*/
	/*top: 30px;*/
/*}*/

#topNavBar {
	height: 40px;
}

.navButton {
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
}

a.navChoice {
	font-size: 18px;
	color: #666f77;
	text-decoration: none;

}

a.navChoice:hover {
  	color: black;
}

a.navInitialChoice {
	font-size: 18px;
	color: black;
	text-decoration: none;
	pointer-events: none;
}

#dropDown {
    height: 40px;
    padding-right: 20px;

}

#accountBody {
	height: 100vh;
	background-color: #e6eaef;
	margin-top: 20px;
	margin-bottom: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	border-radius: 25px;
}

.bodyInitial {
	width: 100%;
	position: absolute;
	top: 65%;
	left: 0%;
	text-align: center;
}

.emptyReview {
	font-size: 22px;
	color: grey;
}

.infoHeader {
	position: relative;
	top: 3px;
	left: 3px;
	width: 100%;
	height: 62px;
}

.col-md-12 {
	height: 100%;
}

.portraitSetting {
	height: 150px;
	align-items: center;
}

.portraitSetting img{
	height: 150px;
	width: 150px;
	position: absolute;
	margin: auto;
    left: 0;
    right: 0;
}

.infoBody{
	position: static;
	height: 200px;
	width: 100%;
}

.col-md-4 {
	height: 100%;
	text-align: center;
}

.kv-avatar {
    display: inline-block;
}

.kv-avatar label {
	text-align: center;
    display: block;
    font-size: 14px;
}

.kv-avatar input {
    margin: 0;
    position: absolute;
    margin-left: -.5em;
    margin-top: -.5em;
    font: 13px 'Fira Sans', sans-serif;
}

#avatar {
	display: block;
    text-align: center;
}

#infoForm {
	position: relative;
	font-size: 18px;
	font-weight: bold;
	top: 10%;
}

.info {
	color: #6d6d6d;
	font-weight: normal;
}

.editInfo {
	position: absolute;
	font-size: 15px;
	top: 75%;
}

#mainBody {
	height: 100%;
}

.contentBox {
	min-height: 200px;
	max-height: 250px;
	background-color: white;
	padding: 15px;
	margin-bottom: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	border-radius: 25px;
}

.reviewLink {
	display:block;
}

a.reviewLink {
	text-decoration: none;
	color: black;
}

a.reviewLink:hover {
  	color: black;
}

.checked {
  	color: orange;
}

.storeImg {
	margin-left: 10px;
	margin-right: 40px;
	margin-top: 10px;
	height: 150px;
	width: 250px;
	float: left;
}

.resImg {
	height: 150px;
	width: 220px;
}


.storeImgContainer {
	width: 30%;
	height: 100%;
}

.storeInfoContainer {
	font-size: 15px;
	line-height: 10px;
	float: left;
	margin-top: 12px;
}

/* Search Result styles */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
.catList li {
float: left;
margin-left:100px;
}

.catList li a {
    text-align: center;
    color: blue;
    padding: 16px;
    text-decoration: none;
  }
  
.catList li a:hover {
    text-decoration: underline;
}

.catList li a:active{
    color: green;
}


#foodCategories {
    border-bottom: 1px solid black;
}

#CatBtnContainer{
    height: auto;
	background-color: #e6eaef;
	margin-top: 20px;
	margin-bottom: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	border-radius: 25px;
}

#map {
  height: 100%;
}

/* Restaurant review page styles */
#restaurantBody {
	height: 300px;
	background-color: #e6eaef;
	margin-top: 20px;
	margin-bottom: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	border-radius: 25px;
}

.bookmarkIcon {
	position: relative;
	left: 50%;
	font-size: 1.5em;
}

.storeName {
	font-size: 24px;
	margin-left: 80px;
	margin-top: 10px;
	font-family:;
	letter-spacing:1px;
}

#restaurantInfo {
	height: 200px;
}

.col-md-3 {
	height: 100%;
}

.col-md-5 {
	height: 100%;
}

.RestaurantImgContainer {
	margin-left: 30px;
	height: 150px;	
}

#reviewBody {
	height: 100vh;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	border-radius: 25px;
}

.reviewContainer {
	border-right-style: solid;
	border-width: 1px;
	border-color: lightgrey;
}

#reviewPart {
	height: 95%;
}

.userImg {
	margin-left: 10px;
	margin-right: 40px;
	margin-top: 10px;
	height: 100px;
	width: 100px;
	float: left;
}


.userImgContainer {
	width: 30%;
	height: 100%;
}

.reviewHeader {
	font-size: 18px;
}

/* nav bar restaurant logo styles*/
.restaurantLogo { 
	background: none;
	border: 0px;
	width: auto;
}

/* admin page styles */
.adminContentBody {
	height: 100vh;
	background-color: #e6eaef;
	margin-top: 20px;
	margin-bottom: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	border-radius: 25px;
}