#navBar{
  height: 80px;
}

#profileInfoContainer{
  /* float: right; */
  width: 200px;
}
.peopleIcon {

	/* Add properties below */
	border-radius: 50%;
	height: 50px;
	width: 50px;
  margin-left: 10px;
  /* margin-bottom: 5px; */
}

#logoImg {
  max-width: 100%;
  max-height: 100%;
}

.reviewLink {
	display:block;
}

.col-md-9 {
	height: 100%;
}


#searchBar{
  margin-bottom: 40px;
}
.list-group-item-light{
  background-color: white;
  border-bottom: 3px solid black;
}

.slideImage{
  width:100%;
  height:500px;
  object-fit: fill;
}

.nav-link{
  padding-top: 12px;
  padding-left: 0px;
  padding-right: 0px;
}

#pageContent{
  position: relative;
  top: 50px;
  width: 100%;
}

/*#dropDownButton{
  background-color: red;
}*/

.card-title {
  margin-bottom: 0px;
}

p.homeList {
  margin-bottom: 0px;
}

.submitLink{
  background: transparent;
  border: 0px;
  color: white;
}

.resTitleLink{
  background: transparent;
  border: 0px;
  color: rgb(78, 180, 228);
}